<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>

        <title>
            <%= title %>
        </title>

</head>

<body>
    <%- include('../partials/nav.ejs'); %>
        <div>welcome to about page</div>
        <a href="/download">Download File</a>
</body>

</html>